body{
background-size: cover;
background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#status
{
font-size: 18px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#number_of_objects{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
canvas{
    border-radius:10px;
    box-shadow: 10px 10px 10px grey;
    margin-top:35px;
}
